body{
  font-family:Arial,sans-serif;
  background:#f4f4f4;
}

.container{
  width:1000px;
  margin:auto;
  padding:20px;
}

input{
  width:100%;
  padding:10px;
  margin:10px 0;
}

button{
  padding:12px 20px;
  cursor:pointer;
}

.report-container{
  margin-top:30px;
  background:white;
  padding:20px;
}

.header-cards{
  display:flex;
  gap:20px;
}

.card{
  flex:1;
  border:1px solid #ddd;
  padding:15px;
}

table{
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
}

th,
td{
  border:1px solid #ddd;
  padding:10px;
}

th{
  background:#143c88;
  color:white;
}

.summary{
  margin-top:20px;
  padding:15px;
  background:#f7f7f7;
}